html, body {
	padding: 0;
	margin: 0;
	overflow: hidden;
	
	background: #f2f2f2;
	color: white;
}

html, body, canvas {
	touch-action: none;
	touch-action-delay: none;
}

@font-face {
	font-family: 'DejaVuSans-InfantUK';
	src: url('fonts/dejavusans-infantuk.otf') format('opentype');
}

@font-face {
	font-family: 'DejaVuSans-InfantUKBold';
	src: url('fonts/dejavusans-infantukbold.woff') format('woff');
}

@font-face {
	font-family: 'RifficFree-Bold';
	src: url('fonts/rifficfree-bold.ttf') format('truetype');
}

